#header {
    background-image: url(../img/header@2x.png);
    height: 1158px;
    background-size: cover;
}

#foto1 {
    background-image: url("../img/image@2x.png");
    height: 630px;
    background-size: cover;
}

#foto2 {
    background-image: url("../img/auto@2x.png");
    height: 583px;
    background-size: cover;
}

